<%- @page_title = 'Standings' -%>

<%- for division in @league.divisions -%>
  <h1><%=h division.name %> Division</h1>
  <table class="standings">
    <tr>
      <th>Name</th>
      <th>Wins</th>
      <th>Loses</th>
      <th>Runs</th>
      <th>AVG</th>
      <th>RA</th>
    </tr>
    
    <%- for team in division.teams.sort -%>
      <tr>
        <td><%= link_to h(team.name), team %></td>
        <td><%= team.wins %></td>
        <td><%= team.loses %></td>
        <td><%= team.runs %>
        <td><%=f team.average %></td>
        <td><%= team.runs_allowed %></td>
      </tr>
    <%- end -%>
  </table>

<%- end -%>

<h1>Hitting Stats</h1>
<h3>Average</h3>
<table class="standings">
  <tr>
    <th>Player</th>
    <th>Team</th>
    <th>Average</th>
    <th>OBP</th>
    <th>Slugging</th>
    <th>At Bats</th>
  </tr>
  
  <%- for player in @league.players.sort_by(&:average).reverse.first(5) -%>
    <tr>
      <td><%= link_to h(player.name), player %></td>
      <td><%= link_to(h(player.team.abbreviation), player.team) unless player.team.nil? %></td>
      <td><%=f player.average %></td>
      <td><%=f player.obp %></td>
      <td><%=f player.slugging %></td>
      <td><%= player.at_bats %></td>
    </tr>
  <%- end -%>
</table>

<h3>RBI</h3>
<table class="standings">
  <tr>
    <th>Player</th>
    <th>Team</th>
    <th>RBI</th>
    <th>At Bats</th>
    <th>Hits</th>
    <th>Average</th>
  </tr>
  
  <%- for player in @league.players.sort_by(&:rbis).reverse.first(5) -%>
    <tr>
      <td><%= link_to h(player.name), player %></td>
      <td><%= link_to(h(player.team.abbreviation), player.team) unless player.team.nil? %></td>
      <td><%= player.rbis %></td>
      <td><%= player.at_bats %></td>
      <td><%= player.hits %></td>
      <td><%=f player.average %></td>
    </tr>
  <%- end -%>
</table>

<h3>Home Runs</h3>
<table class="standings">
  <tr>
    <th>Player</th>
    <th>Team</th>
    <th>Home Runs</th>
    <th>Singles</th>
    <th>Doubles</th>
    <th>Triples</th>
    <th>Walks</th>
  </tr>
  
  <%- for player in @league.players.sort_by(&:home_runs).reverse.first(5) -%>
    <tr>
      <td><%= link_to h(player.name), player %></td>
      <td><%= link_to(h(player.team.abbreviation), player.team) unless player.team.nil? %></td>
      <td><%= player.home_runs %></td>
      <td><%= player.singles %></td>
      <td><%= player.doubles %></td>
      <td><%= player.triples %></td>
      <td><%= player.walks %></td>
    </tr>
  <%- end -%>
</table>

<h1>Pitching Stats</h1>
<h3>Wins</h3>
<table class="standings">
  <tr>
    <th>Player</th>
    <th>Team</th>
    <th>Wins</th>
    <th>Loses</th>
    <th>ERA</th>
    <th>WHIP</th>
  </tr>
  
  <%- for player in @league.players.sort_by(&:wins).reverse.first(5) -%>
    <tr>
      <td><%= link_to h(player.name), player %></td>
      <td><%= link_to(h(player.team.abbreviation), player.team) unless player.team.nil? %></td>
      <td><%= player.wins %></td>
      <td><%= player.loses %></td>
      <td><%=f player.era %></td>
      <td><%=f player.whip %></td>
    </tr>
  <%- end -%>
</table>

<h3>ERA</h3>
<table class="standings">
  <tr>
    <th>Player</th>
    <th>Team</th>
    <th>ERA</th>
    <th>Wins</th>
    <th>Loses</th>
    <th>Saves</th>
    <th>WHIP</th>
  </tr>
  
  <%- for player in @league.players.sort_by(&:era).first(5) -%>
    <tr>
      <td><%= link_to h(player.name), player %></td>
      <td><%= link_to(h(player.team.abbreviation), player.team) unless player.team.nil? %></td>
      <td><%=f player.era %></td>
      <td><%= player.wins %></td>
      <td><%= player.loses %></td>
      <td><%= player.saves %></td>
      <td><%=f player.whip %></td>
    </tr>
  <%- end -%>
</table>

<h3>Strike Outs</h3>
<table class="standings">
  <tr>
    <th>Player</th>
    <th>Team</th>
    <th>Ks</th>
    <th>Wins</th>
    <th>Loses</th>
    <th>Saves</th>
    <th>ERA</th>
    <th>WHIP</th>
  </tr>
  
  <%- for player in @league.players.sort_by(&:ks).reverse.first(5) -%>
    <tr>
      <td><%= link_to h(player.name), player %></td>
      <td><%= link_to(h(player.team.abbreviation), player.team) unless player.team.nil? %></td>
      <td><%= player.ks %></td>
      <td><%= player.wins %></td>
      <td><%= player.loses %></td>
      <td><%= player.saves %></td>
      <td><%=f player.era %></td>
      <td><%=f player.whip %></td>
    </tr>
  <%- end -%>
</table>

<h3>Saves</h3>
<table class="standings">
  <tr>
    <th>Player</th>
    <th>Team</th>
    <th>Saves</th>
    <th>ERA</th>
    <th>WHIP</th>
  </tr>
  
  <%- for player in @league.players.sort_by(&:saves).reverse.first(5) -%>
    <tr>
      <td><%= link_to h(player.name), player %></td>
      <td><%= link_to(h(player.team.abbreviation), player.team) unless player.team.nil? %></td>
      <td><%= player.saves %></td>
      <td><%=f player.era %></td>
      <td><%=f player.whip %></td>
    </tr>
  <%- end -%>
</table>