<%= form.hidden_field :game_id %>

<p>Player<br/><%= form.collection_select :player_id, @league.players, :id, :name %></p>

<p>Team<br/><%= form.collection_select :team_id, @game.teams, :id, :name %></p>

<p>Outs<br/><%= form.text_field :outs %></p>

<p>Runs<br/><%= form.text_field :runs %></p>

<p>Hits<br/><%= form.text_field :hits %></p>

<p>Walks<br/><%= form.text_field :walks %></p>

<p>Strike Outs<br/><%= form.text_field :strike_outs %></p>

<p>Home Runs<br/><%= form.text_field :home_runs %></p>