<h1>New Appearance for Game #<%= @game.id %> <%= @game.date.strftime('%B %e, %Y') %> <%= @game %></h1>

<%= error_messages_for :appearance %>

<% form_for(@appearance) do |f| %>
  <%= render :partial=>'form', :object=>f %>
  <p><%= f.submit "Create" %></p>
<% end %>

<%= link_to 'Back', season_game_path(@season, @game) %>
